@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-background: #fffffff1;
    --color-text: #000000;
    --color-border-default: 0, 0, 0, 0.2;
    --scrollbar-width: 0.1rem;
  }

  [data-theme='light'] {
    --color-background: #fffffff1;
    --color-text: #000000;
    --color-border-default: 0, 0, 0, 0.2;
  }
  [data-theme='dark'] {
    --color-background: #1a1a1a;
    --color-text: #ffffff;
    --color-border-default: 255, 255, 255, 0.2;
  }

  body {
    @apply bg-[var(--color-background)] text-[var(--color-text)];
  }
}

::-webkit-scrollbar {
  width: var(--scrollbar-width);
}

::-webkit-scrollbar-thumb {
  --tw-border-opacity: 1;
  @apply bg-border;
  border-color: rgba(var(--color-border-default));
  border-radius: 9999px;
  border-width: 1px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 9999px;
}
